{% extends "layout.html" %}

{% block content %}


<h1 class="mb-4">Food Database</h1>

<table class="table table-hover">
    <tr>
        <th>favourite</th>
        <th>Food</th>
        <th>KJ</th>
        <th>Protein</th>
        <th>Actions</th>
        
    </tr>
    
    {% for food in foods %}
  
    <tr>
        <td>
        {% if food.favourite %}
            ⭐
        {% endif %}
        </td>
        
        <td>{{ food.name }}</td>
        <td>{{ food.kj }}</td>
        <td>{{ food.protein }}</td>
    
    
        <td>
            <a href="/add_to_today/{{ loop.index0 }}" class="btn btn-success btn-sm">
                Add to Today
            </a>

            </a>
            <a href="{{ url_for('edit_food', food_index=food.id) }}" class="btn btn-warning btn-sm">
                Edit
            </a>
            <a href="{{ url_for('delete_food', food_index=food.id) }}" class="btn btn-danger btn-sm"></a>
                Delete
            
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}